<td class="date">
  <span>{{ formatted_timestamp }}<span>
</td>
<td class="name">
  <div class="rating" id="{{ id }}"></div>
  <p class="name">{{ name }}</p>
  {{#feedback}}
    <p class="feedback">
      Thanks for your feedback!
    </p>
  {{/feedback}}
  {{^feedback}}
    {{#offer}}
      <p class="offer">
        {{ name }}
        <em>Reward: {{ amount }}</em>
      </p>
    {{/offer}}
  {{/feedback}}
</td>
<td class="amount">{{{ formatted_amount }}}</td>
