<a href="#" class="close">Close</a>

{{#merchant}}
<div class="name-and-location">
  {{#avatar}}
  <img src="{{ . }}" class="avatar" />
  {{/avatar}}
  <h3>{{ name }}</h3>
  {{#location}}
    <p class="address">{{ ../formatted_address }}</p>
    <p class="phone">{{ phone }}</p>
  {{/location}}
  <h3>{{ name }}</h3>
</div>
{{/merchant}}
