<div class="teller-info">
  <img src="{{ avatar }}" class="avatar" />
  <div class="name">
    <h2>{{ name }}</h2>
    <p class="meta">Teller #{{ id }}</p>
  </div>
</div>

{{#feedback_totals}}
<div class="averages">
  
  {{#month}}
  <div class="month average">
    <h2>This Month</h2>
    <div class="rating"></div>
    <p class="meta">{{ average }} based on {{ count }} reviews</p>
  </div>
  {{/month}}

  {{#year}}
  <div class="year average">
    <h2>This Year</h2>
    <div class="rating"></div>
    <p class="meta">{{ average }} based on {{ count }} reviews</p>
  </div>
  {{/year}}

</div>
{{/feedback_totals}}
