<div class="balances">
  <div class="balance">{{{formattedBalance}}}</div>
  {{#formattedAvailableBalance}}
    <div class="available">Available: <span class="available-balance">{{{.}}}</span></div>
  {{/formattedAvailableBalance}}
</div>

<h3><a href="#accounts/{{account_id}}/subaccounts/{{id}}">{{name}}</a></h3>

<div class="meta">
  <span class="subaccount-number">
    {{accountNumber}}-<strong>{{suffix}}</strong>
  </span>
  |
  <a href="#" class="manage">manage account &#9662;</a>
</div>
