{{#check_image}}
<div class="check-image">
  <ul>
    <li><a href="{{ . }}" rel="checks"><img src="{{.}}" title="{{../meta}}" /></a></li>
    <li><a href="{{ ../check_image_back }}" rel="checks"><img src="{{../check_image_back}}" title="{{../meta}}" /></a></li>
  </ul>
  <a href="#" class="report-problems">Problems with the check images?</a>
</div>
{{/check_image}}

{{#merchant}}
<div class="available-service billpay">
  <h2>Avaliable service: MyVantage Bill Pay</h2>
  <p>It looks like you regularly write checks to Trugreen.  Would you like to sign up for MyVantage Bill Pay to automate these payments?</p>
  <ul>
    <li><a href="#billpay/signup" class="yes">Yes, I'd like to sign up</a></li>
    <li><a href="#billpay/no" class="no">No, thanks</a></li>
  </ul>
</div>
{{/merchant}}
