!!!
%head
  - ['compiled/screen.css', 'jquery-ui.css', 'compiled/jquery_ui_custom.css'].each do |stylesheet|
    %link{:href => "/stylesheets/#{stylesheet}", :rel => 'stylesheet'}
  %title Hyperlocal CU Prototype
  = yield(:head)

%body
  #container
    #global
      %ul
        %li.available-services
          = link_to "Available Services", '#'
        
    #main
      .content
        .ui-widget= yield

    #sidebar
      = yield(:sidebar)

  %script{:src => '/javascripts/compiled/vendor/require-jquery.js?v=1'}

  = yield(:javascript)
