!!!
%head
  - ['compiled/screen.css?v=4', 'jquery-ui.css', 'compiled/jquery_ui_custom.css'].each do |stylesheet|
    %link{:href => "/stylesheets/#{stylesheet}", :rel => 'stylesheet'}
  %title Hyperlocal CU Prototype
  = yield(:head)

%body
  #container
    #global
      %ul
        - if user_signed_in?
          %li
            = link_to "Log out", destroy_user_session_path

    #main
      .content
        .ui-widget= yield

    #sidebar
      = yield(:sidebar)

  = include_javascripts :common, :timeline

  :javascript

    PUSHER_KEY = '#{Pusher.key}';

  = yield(:javascript)
