!!!
%head
  - ['compiled/screen.css?v=4', 'jquery-ui.css', 'compiled/jquery_ui_custom.css'].each do |stylesheet|
    %link{:href => "/stylesheets/#{stylesheet}", :rel => 'stylesheet'}
  %title Hyperlocal CU Prototype
  = yield(:head)

%body
  #container
  
    #header
      %h1= link_to 'Vantage Credit Union', root_path

    #global

    #main
      .content
        .ui-widget= yield

    #sidebar
      = yield(:sidebar)

  %script{:src => "http://js.pusherapp.com/1.6/pusher.min.js", :type => 'text/javascript'}

  = include_javascripts :timeline

  :javascript

    PUSHER_KEY = '#{Pusher.key}';

  = yield(:javascript)
