#timeline-loading 
  %h3 Dashboard ("Incomplete" would be an understatement)
  %p [The member dashboard could show a summary of all accounts, recent promotions, a "Messages" area for recent messages from the CU, etc.]
  %p
    %strong Click on the subaccounts to the right to see the main interface ->

= content_for :sidebar do
  #event-detail-view{:style => "display: none;"}

= content_for :head do
  = render "layouts/mixpanel"

= content_for :javascript do

  %script{:src => google_js_src, :type => 'text/javascript'}

  :javascript

    Backbone.emulateHTTP = true;

    App.currentMember = new App.model.Member(#{@member.to_json()});

    var dashboardController = new App.controller.MemberDashboard({
      member: App.currentMember,
      fetchOnInit: true
    });

    var availableServicesController = new App.controller.AvailableServices();
